.st_hero {
  .st_full_width_right {
    width: 50vw;
    margin-left: 80px;
  }
  .st_hero_text {
    h1 {
      margin-bottom: 15px;
      font-size: 42px;
      line-height: 140%;
    }
    p {
      font-size: 18px;
      line-height: 160%;
      margin-bottom: 23px;
    }
    ul {
      margin-left: 9px;
      li {
        font-weight: 500;
        font-size: 18px;
        line-height: 160%;
      }
    }
  }
}
