.st_product,.st_portfolio{
  h2{
    font-size: 42px;
    margin-bottom: 25px;
    color: #000;
  }
  .st_single_product{
    a{
      display: block;
      img{
        width: 100%;
      }
    }
  }
}