.st_service{
  .st_single_service{
    background-color: rgba(#d1d1d1, 0.2);
    display: block;
    height: 100%;
  }
  .st_single_service_content{
    padding: 30px;
    img{
      margin-bottom: 17px;
    }
    h2{
      margin: 0;
      font-size: 26px;
      margin-bottom: 18px;
    }
    p{
      margin: 0;
      font-size: 16px;
    }
  }
}

// layout
.st_gird_container{
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3,1fr);
  grid-auto-flow: dense;
}
